<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>webpageObject.TesteChamadaSelenium</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ChamadaEdgeSelenium</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChamadaChromeSelenium</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChamadaPorBrowserSelenium</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChamadaInternetExplorerSelenium</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChamadaInternetExplorerSelenium3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ChamadaFireFoxSelenium</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
