<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9cb5">  <td>17/11/11 17:18:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TesteChamadaSelenium.ChamadaChromeSelenium()[pri:0, instance:webpageObject.TesteChamadaSelenium@c038203]">ChamadaChromeSelenium</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>17/11/11 17:18:54</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TesteChamadaSelenium.ChamadaEdgeSelenium()[pri:0, instance:webpageObject.TesteChamadaSelenium@c038203]">ChamadaEdgeSelenium</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>17/11/11 17:18:54</td>   <td>144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TesteChamadaSelenium.ChamadaFireFoxSelenium()[pri:0, instance:webpageObject.TesteChamadaSelenium@c038203]">ChamadaFireFoxSelenium</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>17/11/11 17:19:17</td>   <td>23218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TesteChamadaSelenium.ChamadaInternetExplorerSelenium()[pri:0, instance:webpageObject.TesteChamadaSelenium@c038203]">ChamadaInternetExplorerSelenium</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>17/11/11 17:19:17</td>   <td>23261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TesteChamadaSelenium.ChamadaInternetExplorerSelenium3()[pri:0, instance:webpageObject.TesteChamadaSelenium@c038203]">ChamadaInternetExplorerSelenium3</td> 
  <td>main@125622176</td>   <td></td> </tr>
</table>
